
//
// VARIABLES
//

// Light Mode (Default)
$background-light: #ffffff;
$text-light: #333;
$link-light: #007acc;
$foreground-light: #006b61;

// Dark Mode
$background-dark: #001212;
$text-dark: #fff9;
$link-dark: #00d9ad;
$foreground-dark: #333333;

// Dark Gold Theme
// dark gold text
$dg-text: #ffcc00;

$blue: #4183C4;

$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}

